.checkbox-list-component {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  .ceckbox-item {
    width: 10%;
    @media screen and (max-width: 960px) {
      width: 30%;
    }
  }
}
